*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    margin: 0;
}
.main-container{
    max-width: 1600px;
    margin: auto;
}

.first-page-container{
    min-height: 70vh; 
}

.background-video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.navbar{
    position: absolute;
    display: flex;
    top:0;
    justify-content: space-between;
    width: 100%;
    color: white;
    padding-top: 10px ;
    padding-left: 100px;
}

.headings{
    display: flex;
    justify-content: space-between;
    width: 90%;
    color: white;
    padding-top: 40px ;
    padding-left: 50px;
    padding-right: 50px;
}

.headings a:hover{
    font-size: 25px;
    transition-duration: 0.5s;
}

.title{
    position: absolute;
    font-size: 50px;
    top: 200px;
    width: 700px;
    padding-left: 150px;
    color: white;
    font-weight: bold;
}

.details{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.about{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    width: 30%;
}

.paragraph{
    font-weight: lighter;
    font-size: 30px;
}

.aboutus{
    width: 250px;
    height: 50px;
    background-color: black;
    font-size: 10px;
    color: white;
    text-transform: uppercase;
}   

.aboutus:hover{
    width: 260px;
    height: 55px;
    background-color: tomato;
    font-size: 15px;
    border: none;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transform-style: preserve-3d;
}

.company-details{ 
    background-color: rgba(209, 73, 24, 0.8);
    width: 500px;
    height: 500px;
    margin-top: -100px;
    display: flex;
    z-index: 9999;
}

.left-box{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 50px;
}

.inner-box{
    width: 200px;
    height: 200px;
}

.orange-color{
    background-color: rgb(250, 212, 178);
}

.dark-orange{
    background-color:darkorange ;
}

.first{
    color: darkgrey !important;
}

.numbers{
    font-weight: bold;
    font-size: 40px;
    color: white;
    padding-left: 50px;
    padding-top: 30px;
}

.right-box{
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin-top: 220px;
    margin-bottom: auto;
}

.brown-color{
    background-color: brown;
}

.block-color{
    background-color: black;
}

.text{
    color: white;
    padding: 20px;
    padding-top: 30px;
}

.work-place{
    background-color: rgb(94, 94, 245);
    width: 100%;
    min-height: 100vh;
    margin-top: 30px;
}

.work-place p{
    width: 40%;
    font-size: 40px;
    padding-left: 100px;
    padding-top: 30px;
}

.explore{
    width: 250px;
    height: 50px;
    background-color: snow;
    border: none;
    margin-left: 100px;
    opacity: 0.5;
}

.explore:hover{
    width: 260px;
    height: 55spx;
    background-color: black;
    color: white;
    font-size: 15px;
    transition-duration: 0.5s;
    opacity: 1;
}

.nav-tab{
    display: flex;
    justify-content:center;
    width: 70%;
    margin-top: 40px;
}

.nav-item{
    display: flex;
    justify-content: center;
    border: 1px solid white;
    height: 50px;
    width: 210px;
    align-items: center;
}

.nav-item:hover{
    height: 50px;
    width: 220px;
    background-color: white;
    transition-duration: 0.5s;
}